@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer watchResource;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@watchResource["TextHello"]</h1>
</div>
